h1 {
    color:rgb(230, 239, 240);
    font-size: 30px;
    text-align: center;
    background-color: darkslategrey;
}
 
/* Vamos a definir el SELECTOR de clase .verde */
.verde {
    color: green;
    background-color: yellow;
    font-size: 24px;
}

/* Vamos a crear el SELECTOR de ID llamado #violeta, que define texto blanco sobre fondo violeta, alineaddo a l derecha pero con un margen de 10% del ancho del viewport sobre la derecha */
#violeta {
    background-color: violet;
    color: white;
    text-align: right;
    margin-right: 10%;
}

/* Vamos a definir el SELECTOR de clase .form_input para algunos campos input del formulario */
.form_input {
    background: greenyellow;
    color: aliceblue;
    text-align: left;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
}

#apellido {
    background: lightgreen;
    color: black;
    text-align: left;
    border-style: solid;
}